<!DOCTYPE html>
<head>
    <!--  Get a font from google font  -->
    
    <!-- Font Awesome -->
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">-->
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
  
  <link href="https://fonts.googleapis.com/css2?family=Chilanka&display=swap" rel="stylesheet">
    <script data-ad-client="ca-pub-5902686510993379" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel='icon' href="<%= client.user.displayAvatarURL() %>">
    
  <title>Home | list-discordbot </title>
  
  <!--  Property  -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:theme-color" content="blue">
  <meta property="og:title" content="HOME | list-discordbot">
  <meta property="og:description" content="A discord bot list">
  <meta property="og:image" content="<%= client.user.displayAvatarURL() %>">
  <meta property="og:site_name" content="list-discordbot">
  <meta name="theme-color" content="#FFFFFF">
</head>

<body style='background:#23272A'>

   
  <nav class="navbarr navbar fixed-top navbar-dark" style="background:#23272A">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">
    <img src="https://cdn.glitch.com/fafda016-78f3-4788-ba74-9281fad6bc3f%2Fimages__2_-removebg-preview%20(1).png?v=1599579616044" with="30" height="30">
  </a>

  <!-- Collapse button -->
  <button class="navbar-toggler button3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent22"
    aria-controls="navbarSupportedContent22" aria-expanded="false" aria-label="Toggle navigation">
    <div class="animasi"><span></span><span></span><span></span></div>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent22">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/discord"><i class="fab fa-discord"></i> Discord</a>
      </li>
      <li class="nav-item">
        
        <% if(!req.user) { %>
        <a class="nav-link" href="/login"><i class="fa fa-sign-in"></i> Login</a>
        <% }else{ %>
        
         <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">My account</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/me"><i class="fa fa-user-circle" aria-hidden="true"></i> <%= req.user.username %>#<%= req.user.discriminator %></a>
          <a class="dropdown-item" href="/add"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add bot</a>
          <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
        </div>
      </li>

    </ul>
        
        <% } %>
        
      </li>
    </ul>
    </div>
  </nav>
  <br><br>
  
<!--  Akhir Navbar bagian  -->
  <%
  let a = db.get('ldb')
  let idnya = client.guilds.cache.get("725966967797972992").members.cache.filter(m => m._roles.includes("752042076547579924")).map(x => x.id)
  
  let satu = a.filter(x => !idnya.includes(x.id))
  let dua = satu.filter(x => x.status === true)
  let tiga = dua.filter(x => client.users.cache.get(x.id).username.toLowerCase().includes(req.params.name.toLowerCase()))
  let approved = tiga.sort(function(a, b){return 0.5 - Math.random()})
  
  let promotes = a.filter(x => idnya.includes(x.id))
  let promotos = promotes.filter(x => client.users.cache.get(x.id).username.toLowerCase().includes(req.params.name.toLowerCase()))
  let promote = promotos.sort(function(a, b){return 0.5 - Math.random()})
  
%>
  
    
 <div class="jumbotron jumbotron-fluid" style="background:#99AAB5";>
  <div class="container">
    <b><h2 class="display-5" style="text-align:center">List DiscordBot</h2><b>
    <br>
<div class="md-form">
  <input type="search" id="search" class="form-control">
  <label for="inputMDEx">Search Bot</label>
  <button class="btn btn-warning rounded" type="button" onclick="url()">Search</button>
</div>
      
    <p class='keyword'>You search: <%= req.params.name %></p>
    
  <% if(promote.length == 0 && approved.length == 0) {%>
  <p class='keyword notfound'>*bot with the name "<%= req.params.name %>" not found</p>
  <%}%>
      
  </div>
</div>
  
  <div class='container'>
    
<!--   <p class='status'>Status: <b>${client.users.cache.get(x.id).presence.status.toUpperCase()}</b></p>   -->
  
      <div class="row">
        <% promote.map(x => { %>
        <div class="col-sm-6 md-6">
          <center>
            <div class="boxnya card rounded">
              <div class="card-image">
                <img src="<%= client.users.cache.get(x.id).displayAvatarURL() %>" class="test circle responsive-image" width="100">
              </div>
              
              <div class="card-body">
                <h3 class="asew card-title"><a><%= client.users.cache.get(x.id).username %></a></h3>
                
                <div class="card-content white-text">
                  <h6 class="asew"><%= x.sdecs %></h6>
                  <br>
                </div>
                
                <hr>
                
                <div class="asww">
                  
                  <span class="badge badge-pill badge-primary"><i class="fas fa-check-circle"></i> Approved</span>
                  <span class="badge badge-pill badge-primary"><i class="fas fa-angle-up"></i> <%= db.get(`vote.${x.id}`) || 0 %> Votes</span>
                  <span class="badge badge-pill badge-primary"><i class="fas fa-star"></i> Promoted</span>
                  
                </div>
                
                <hr>
                
                <div class="card-action">
                  <a class="btn btn-primary" href="/bot/<%= x.id %>" type="button">View</a>
                  <a class="btn btn-primary" href="<%= x.invite %>" type="button">Invite</a>
                </div>
            </div>
              
              <div class="card-footer text-muted text-center">
                by <a href="/user/<%= x.ownerId %>"><%= client.users.cache.get(x.ownerId).tag %></a>
              </div>
              
            </div>
          </center>
        </div>
        <% }) %>
      </div>
   
<div class="row">
    <% approved.map(x => { %>
    
    <div class="col-sm-6 md-6">
      <center>
      <div class="boxnya card rounded">
        <div class="card-image">
          <img src="<%= client.users.cache.get(x.id).displayAvatarURL() %>" class="test circle responsive-image" width="100">
        </div>
        
        <div class="card-body">
          <h3 class="asew card-title"><a><%= client.users.cache.get(x.id).username %></a></h3>
            
            <div class="card-content white-text">
              <h6 class="asew"><%= x.sdecs %></h6>
              <br>
            </div>
          
          <hr>
          <div class="asww">
            <span class="badge badge-pill badge-primary"><i class="fas fa-check-circle"></i> Approved</span>
            <span class="badge badge-pill badge-primary"><i class="fas fa-angle-up"></i> <%= db.get(`vote.${x.id}`) || 0 %> Votes</span>
          </div>
          <hr>
            
            <div class="card-action">
              <a class="btn btn-primary btn-rounded" href="/bot/<%=x.id%>" role="button">View</a>
              <a class="btn btn-primary btn-rounded" href="<%=x.invite%>" role="button">Invite</a>
            </div>
        </div>
        
        <div class="card-footer text-muted text-center">
          by <a href="/user/<%=x.ownerId%>"><%= client.users.cache.get(x.ownerId).tag %></a>
        </div>
        
      </div>
        </center>
    </div>
   <% }) %>
</div>
    </div>

<a id="keatas" class="btn btn-primary btn-rounded keatas" role="button" style="display:none;" href="#"><i class="fas fa-arrow-up"></i></a>

<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: List DiscordBot</div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
  
</body>
</html>


<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

  <script>
    function url() {
      
      let a = document.getElementById("search").value;
      window.location.href="/search/"+a
    }
    
    $(document).ready(function(){
	$(window).scroll(function () {
			if ($(this).scrollTop() > 50) {
				$('#keatas').fadeIn();
			} else {
				$('#keatas').fadeOut();
			}
		});
		// scroll body to 0px on click
		$('#keatas').click(function () {
			$('body,html').animate({
				scrollTop: 0
			}, 2000);
			return false;
		});
});
  </script>
  

<style>
  
  #keatas{
    border-radius:200px !important;
    box-shadow:1px 3px 6px black;
  }
  
  .asww{
    text-align:left !important;
  }
  
  .asew{
    color:white;
  }
  
  .judul{
    color:white;
  }
  
  
  .boxnya{
    width:auto !important;
    margin:10px;
    background:#2C2F33 !important;
    transition:0.5s;
  }
  
  .boxnya:hover{
    transition:0.5s;
    box-shadow:3px 7px 6px black;
  }
  
  .test{
    width:100px !important;
    border-radius:150px !important;
    margin:10px;
    box-shadow:1px 3px 10px black;
  }
  
  .judul{
    text-align:center;
  }
  
  .animasi{
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
  }
  
  .animasi span {
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
  }
  
  .animasi span{
    background: #f3e5f5;
  }
  
  .animasi span:nth-child(1) {
top: 0px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animasi span:nth-child(2) {
top: 10px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animasi span:nth-child(3) {
top: 20px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animasi.open span:nth-child(1) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
top: 0px;
left: 8px;
}

.animasi.open span:nth-child(2) {
width: 0%;
opacity: 0;
}

.animasi.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
top: 21px;
left: 8px;
}
  
  .keatas{
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

</style>

<script>
  $(document).ready(function () {
  $('.button3').on('click', function () {

    $('.animasi').toggleClass('open');
  });
});
</script>

<script>
function url(){
  
  const keyword = document.getElementById("search").value;
  window.location.href = '/search/'+keyword;
}
</script>