<!DOCTYPE html>
<head>
  <!-- Font Awesome -->
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">-->
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
  
  <meta name="viewport" content="width=device-width, initial-scale-1">
  <link rel='icon' href="<%= client.user.displayAvatarURL() %>">
   <title>Home | list-discordbot </title>
  
  <!--  Property  -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#FFFFFF">
  <meta property="og:title" content="list-discordbot">
  <meta property="og:description" content="A website where you can add your bot to this list bot discord">
  <meta property="og:image" content="<%= client.user.displayAvatarURL() %>">
</head>

<body style="background:#23272A">
  
  <nav class="navbarr navbar fixed-top navbar-dark" style="background:#23272A">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">
    <img src="https://cdn.glitch.com/fafda016-78f3-4788-ba74-9281fad6bc3f%2Fimages__2_-removebg-preview%20(1).png?v=1599579616044" with="30" height="30">
  </a>

  <!-- Collapse button -->
  <button class="navbar-toggler button3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent22"
    aria-controls="navbarSupportedContent22" aria-expanded="false" aria-label="Toggle navigation">
    <div class="animasi"><span></span><span></span><span></span></div>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent22">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/discord"><i class="fab fa-discord"></i> Discord</a>
      </li>
      <li class="nav-item">
        
        <% if(!req.user) { %>
        <a class="nav-link" href="/login"><i class="fa fa-sign-in"></i> Login</a>
        <% }else{ %>
        
         <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">My account</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/me"><i class="fa fa-user-circle" aria-hidden="true"></i> <%= req.user.username %>#<%= req.user.discriminator %></a>
          <a class="dropdown-item" href="/add"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add bot</a>
          <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
        </div>
      </li>

    </ul>
        
        <% } %>
        
      </li>
    </ul>
  </div>
  </nav>
  <br><br>


<div class="jumbotron jumbotron-fluid" style="background:#7289DA";>
  <div class="container">
    <b><h2 class="display-5" style="text-align:center">List DiscordBot</h2><b>
    <br>
<div class="input-group mb-3">
  <input type="search" id="search" style="font-weight:bold;" class="form-control" require>
   <div class="input-group-append">
      <span class="input-group-text" onclick="url()"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
</svg></span>
    </div>
  <!--<label for="inputMDEx">Search Bot</label>
  <button class="btn btn-warning rounded" type="button" onclick="url()">Search</button>-->
</div>
      </div>
      
      <div class="category">
        
        <a class="badges"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-hammer" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M9.812 1.952a.5.5 0 0 1-.312.89c-1.671 0-2.852.596-3.616 1.185L4.857 5.073V6.21a.5.5 0 0 1-.146.354L3.425 7.853a.5.5 0 0 1-.708 0L.146 5.274a.5.5 0 0 1 0-.706l1.286-1.29a.5.5 0 0 1 .354-.146H2.84C4.505 1.228 6.216.862 7.557 1.04a5.009 5.009 0 0 1 2.077.782l.178.129z"/>
  <path fill-rule="evenodd" d="M6.012 3.5a.5.5 0 0 1 .359.165l9.146 8.646A.5.5 0 0 1 15.5 13L14 14.5a.5.5 0 0 1-.756-.056L4.598 5.297a.5.5 0 0 1 .048-.65l1-1a.5.5 0 0 1 .366-.147z"/>
          </svg> Moderation</a>
        
        <a class="badges"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-music-note-beamed" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2zm9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z"/>
  <path fill-rule="evenodd" d="M14 11V2h1v9h-1zM6 3v10H5V3h1z"/>
  <path d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4V2.905z"/>
          </svg> Music</a>
        
        <a class="badges"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-controller" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M11.119 2.693c.904.19 1.75.495 2.235.98.407.408.779 1.05 1.094 1.772.32.733.599 1.591.805 2.466.206.875.34 1.78.364 2.606.024.815-.059 1.602-.328 2.21a1.42 1.42 0 0 1-1.445.83c-.636-.067-1.115-.394-1.513-.773a11.307 11.307 0 0 1-.739-.809c-.126-.147-.25-.291-.368-.422-.728-.804-1.597-1.527-3.224-1.527-1.627 0-2.496.723-3.224 1.527-.119.131-.242.275-.368.422-.243.283-.494.576-.739.81-.398.378-.877.705-1.513.772a1.42 1.42 0 0 1-1.445-.83c-.27-.608-.352-1.395-.329-2.21.024-.826.16-1.73.365-2.606.206-.875.486-1.733.805-2.466.315-.722.687-1.364 1.094-1.772.486-.485 1.331-.79 2.235-.98.932-.196 2.03-.292 3.119-.292 1.089 0 2.187.096 3.119.292zm-6.032.979c-.877.185-1.469.443-1.733.708-.276.276-.587.783-.885 1.465a13.748 13.748 0 0 0-.748 2.295 12.351 12.351 0 0 0-.339 2.406c-.022.755.062 1.368.243 1.776a.42.42 0 0 0 .426.24c.327-.034.61-.199.929-.502.212-.202.4-.423.615-.674.133-.156.276-.323.44-.505C4.861 9.97 5.978 9.026 8 9.026s3.139.943 3.965 1.855c.164.182.307.35.44.505.214.25.403.472.615.674.318.303.601.468.929.503a.42.42 0 0 0 .426-.241c.18-.408.265-1.02.243-1.776a12.354 12.354 0 0 0-.339-2.406 13.753 13.753 0 0 0-.748-2.295c-.298-.682-.61-1.19-.885-1.465-.264-.265-.856-.523-1.733-.708-.85-.179-1.877-.27-2.913-.27-1.036 0-2.063.091-2.913.27z"/>
  <path d="M11.5 6.026a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-1 1a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm2 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-1 1a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-7-2.5h1v3h-1v-3z"/>
  <path d="M3.5 6.526h3v1h-3v-1zM3.051 3.26a.5.5 0 0 1 .354-.613l1.932-.518a.5.5 0 0 1 .258.966l-1.932.518a.5.5 0 0 1-.612-.354zm9.976 0a.5.5 0 0 0-.353-.613l-1.932-.518a.5.5 0 1 0-.259.966l1.932.518a.5.5 0 0 0 .612-.354z"/>
          </svg> Gaming</a>
        
        <a class="badges"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
          </svg> Nsfw</a>
        
        <a class="badges"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-brush-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.067 6.067 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.117 8.117 0 0 1-3.078.132 3.658 3.658 0 0 1-.563-.135 1.382 1.382 0 0 1-.465-.247.714.714 0 0 1-.204-.288.622.622 0 0 1 .004-.443c.095-.245.316-.38.461-.452.393-.197.625-.453.867-.826.094-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.2-.925 1.746-.896.126.007.243.025.348.048.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.175-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04z"/>
          </svg> Anime</a>
        
        <a class="badges"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 11.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
          </svg> Leveling</a>
        
        <a class="badges"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-wrench" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019L13 11l-.471.242-.529.026-.287.445-.445.287-.026.529L11 13l.242.471.026.529.445.287.287.445.529.026L13 15l.471-.242.529-.026.287-.445.445-.287.026-.529L15 13l-.242-.471-.026-.529-.445-.287-.287-.445-.529-.026z"/>
          </svg> Utility</a>
        
        <a class="badges"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dice-5-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3zm2.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zM12 13.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM5.5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zM8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
          </svg> Fun</a>
        
        <a class="badges"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trophy-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935z"/>
          </svg> MiniGame</a>
        
      </div>
</div>

    <div class="containers">
      
      
    <%
     let a = db.get("ldb")
     let idnya = client.guilds.cache.get("725966967797972992").members.cache.filter(m => m._roles.includes("752042076547579924")).map(x => x.id)
     
     let approvedss = a.filter(x => !idnya.includes(x.id));
     let approvedsd = approvedss.filter(x => x.status === true);
     let approveds = approvedsd.filter(x => x.category.includes(req.params.category))
     
     let approved = approveds.sort(function(a, b){return 0.5 - Math.random()});
     
     let promotes = a.filter(x => idnya.includes(x.id));
     let promotess = promotes.filter(x => x.category.includes(req.params.category))
     let promote = promotess.sort(function(a, b){return 0.5 - Math.random()});
     
     
     let v = ["68944999431458008"]
    %>
      
      <h1 class="judul" id="u"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tag" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M2 2v4.586l7 7L13.586 9l-7-7H2zM1 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2z"/>
  <path fill-rule="evenodd" d="M4.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
        </svg> <strong><%- req.params.category %></strong></h1>
    
      <% if(promote.length > 0) { %>
      <div class="row row-cols-1 row-cols-md-2">
        
        <% promote.map(x => { %>
        
        <%
        let status = client.users.cache.get(x.id).presence.status;
        %>
        
        <div class="col md-4">
          <center>
            <div class="boxnya card rounded">
              
              
              <div class="card-image" style="position:relativw">
                <img src="<%= client.users.cache.get(x.id).displayAvatarURL() %>" class="test circle responsive-image" width="100">
                <!--
                <% if(status == "online") { %>
                <img src="https://cdn.glitch.com/fafda016-78f3-4788-ba74-9281fad6bc3f%2F20201017_211320.png?v=1602944856237" height="40" width="40" class="status-online">
                <% } %>
                
                <% if(status == "offline") { %>
                 <img src="https://cdn.glitch.com/fafda016-78f3-4788-ba74-9281fad6bc3f%2F20201017_212533.png?v=1602946815555" height="50" width="50" class="status-offline">
                <% } %>
                
                <% if(status == "dnd") { %>
                 <img src="https://cdn.glitch.com/fafda016-78f3-4788-ba74-9281fad6bc3f%2F20201017_211850.png?v=1602947891374" width="50" height="50" class="status-dnd">
                <% } %>
                
                <% if(status == "idle") { %>
                 <img src="https://cdn.glitch.com/fafda016-78f3-4788-ba74-9281fad6bc3f%2F20201017_223209.png?v=1602949491799" height="60" width="60" class="status-idle">
                <% } %>
                -->
              </div>
              
              <div class="card-body">
                <h3 class="asew card-title"><a><%= client.users.cache.get(x.id).username %></a></h3>
                
                <div class="card-content white-text">
                  <h6 class="asew"><%= x.sdecs %></h6>
                  <br>
                </div>
                
                <hr>
                
                <div class="asww">
                  
                  <span class="badge badge-pill badge-primary"><i class="fas fa-check-circle"></i> Approved</span>
                  <a href="/vote/<%= x.id %>" class="badge badge-pill badge-primary"><i class="fas fa-angle-up"></i> <%= db.get(`vote.${x.id}`) || 0 %> Votes</a>
                  <span class="badge badge-pill badge-primary"><i class="fas fa-star"></i> Promoted</span>
                  
                </div>
                
                <hr>
                
                <div class="card-action">
                  
                  <% if(v.includes(x.id)) { %>
                  <a class="btn btn-primary btn-block" href="https://cbot.me" type="button">View</a>
                  <% }else{ %>
                  
                  <a class="btn btn-primary" href="/bot/<%= x.id %>" type="button">View</a>
                  <a class="btn btn-primary" href="<%= x.invite %>" type="button">Invite</a>
                  
                  <% } %>
                  
                </div>
            </div>
              
              <div class="card-footer text-muted text-center">
                by <a href="/user/<%= x.ownerId %>"><%=  client.users.cache.get(x.ownerId).tag %></a>
              </div>
              
            </div>
          </center>
          
        </div>
        <% }) %>
      </div>
      
      </br></br>
  <% } %>
  
  
  <% if(approved.length > 0) { %>
      
<div class="row row-cols-1 row-cols-md-3">
    <% approved.map(x => { %>
  
    <div class="col mb-4">
    <%
    let status = client.users.cache.get(x.id).presence.status;
    %>
  
      <center>
      <div class="boxnya card rounded">
        <div class="card-image">
          <img src="<%= client.users.cache.get(x.id).displayAvatarURL() %>" class="test circle responsive-image" width="100">
        </div>
        
        <div class="card-body">
          <h3 class="asew card-title"><a><%= client.users.cache.get(x.id).username %></a></h3>
            
            <div class="card-content white-text">
              <h6 class="asew"><%= x.sdecs %></h6>
              <br>
            </div>
          
          <hr>
          <div class="asww">
            <span class="badge badge-pill badge-primary"><i class="fas fa-check-circle"></i> Approved</span>
            <span class="badge badge-pill badge-primary"><i class="fas fa-angle-up"></i> <%= db.get(`vote.${x.id}`) || 0 %> Votes</span>
          </div>
          <hr>
            
            <div class="card-action">
              <a class="btn btn-primary btn-rounded" href="/bot/<%=x.id%>" role="button">View</a>
              <a class="btn btn-primary btn-rounded" href="<%=x.invite%>" role="button">Invite</a>
            </div>
        </div>
        
        <div class="card-footer text-muted text-center">
          by <a href="/user/<%=x.ownerId%>"><%= client.users.cache.get(x.ownerId).tag %></a>
        </div>
        
      </div>
        </center>
  </div>
   <% }) %>
</div>
  <% }else {%>
  <h3 class="judul">No bots with tags <b><%= req.params.category %></b></h3>
  <% } %>
</div>

<a id="keatas" class="btn btn-primary btn-rounded keatas" role="button" style="display:none;" href="#"><i class="fas fa-arrow-up"></i></a>

<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: List DiscordBot</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
    
    
</body>
</html>


<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

  <script>
    
    function url() {
      
      let a = document.getElementById("search").value;
      
      if(a == " "){
        window.location.href="/";
      }
      
      window.location.href="/search/"+a
    }
    
    $(document).ready(function(){
	$(window).scroll(function () {
			if ($(this).scrollTop() > 50) {
				$('#keatas').fadeIn();
			} else {
				$('#keatas').fadeOut();
			}
		});
		// scroll body to 0px on click
		$('#keatas').click(function () {
			$('body,html').animate({
				scrollTop: 0
			}, 2000);
			return false;
		});
});
  </script>
  
<style>
  
  .category {
    display:flex;
    flex-wrap:wrap;
    max-width:90%;
    float:center;
    margin:10px;
    color:rgba(0,0,0,0.7);
  }
  
  .category .badges {
    background-color:#47d7ff;
    border:1px solid #47d7ff;
    padding:3px;
    margin:2px;
    border-radius:20px;
  }
  
  body {
    overflow-x:hidden;
  }
  
  #keatas{
    border-radius:200px !important;
    box-shadow:1px 3px 6px black;
  }
  
  /* STATUS DISCORD */
  .status-online{
    position:absolute;
    bottom:76%;
    left:55%;
    border-radius:100%;
    background-color:#23272A;
  }
  
  .status-offline{
    position:absolute;
    bottom:75%;
    left:54%;
    border-radius:100%;
   /* background-color:#23272A;*/
  }
  
  .status-dnd{
    position:absolute;
    bottom:73%;
    left:53%;
    border-radius:100%;
  }
  
  .status-idle{
    position:absolute;
    bottom:73%;
    left:53%;
    border-radius:100%;
  }
  
  .asww{
    text-align:left !important;
  }
  
  .asew{
    color:white;
  }
  
  .judul{
    color:white;
  }
  
  .containers {
    margin:0 auto;
    padding:15px;
  }
  
  .boxnya{
    width:auto !important;
    margin:10px;
    background:#2C2F33 !important;
    transition:all 1s ease;
  }
  
  .boxnya:hover{
    transition:0.5s;
    transform:translateY(-2%);
    box-shadow:5px 4px 7px black;
  }
  
  .test{
    width:100px !important;
    border-radius:150px !important;
    margin:10px;
    box-shadow:1px 3px 10px black;
  }
  
  .judul{
    text-align:center;
  }
  
  .animasi{
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
  }
  
  .animasi span {
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
  }
  
  .animasi span{
    background: #f3e5f5;
  }
  
  .animasi span:nth-child(1) {
top: 0px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animasi span:nth-child(2) {
top: 10px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animasi span:nth-child(3) {
top: 20px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animasi.open span:nth-child(1) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
top: 0px;
left: 8px;
}

.animasi.open span:nth-child(2) {
width: 0%;
opacity: 0;
}

.animasi.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
top: 21px;
left: 8px;
}
  
  .keatas{
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

</style>

<script>
  $(document).ready(function () {
  $('.button3').on('click', function () {

    $('.animasi').toggleClass('open');
  });
});
</script><