<!DOCTYPE html>
<head>
  <!--  Get a font from google font  -->
<link href="https://fonts.googleapis.com/css2?family=Chilanka&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>EDIT | list-discordbot </title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="EDIT | list-discordbot">
  <meta property="og:description" content="A discord bot list">
  <meta property="og:image" content="<%= client.users.cache.get(req.params.id).displayAvatarURL() %>">
  <meta property="og:site_name" content="list-discordbot">
</head>

<body style="background:#424040;">
<!--  Navbar bagian dekstop  -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/add">Add</a>
      <a class='nav-link' href='/partners'>Our partners</a>
      <a class="nav-link" href="<%= user ? "/me" : "/login" %>"><%= user ? user.username+"#"+user.discriminator : "Login" %></a>
    </div>
  </div>
</nav>
  
  <%
  let a = db.get('ldb')
  let data = a.indexOf(a.filter(x => x.id === req.params.id)[0])
  let owner = db.get(`ldb.${data}.ownerId`)
  %>
  
  <% if(owner === req.user.id) { %>
  
  <form action='/edit/<%= req.params.id %>' method='post' class='col s12'>

    <div class="form-group">
    <label for="id" class='label'>Id Bot</label>
    <input type="text" autocomplete="off" class="form-control" id="id" name='id' value='<%= db.get(`ldb.${data}.id`) %>' disabled>
  </div>
  
  <div class="form-group">
    <label for="prefix" class='label'>Prefix bot</label>
    <input type="text" autocomplete="off" class="form-control" id="prefix" name='prefix' value='<%= db.get(`ldb.${data}.prefix`) %>' required>
  </div>
  
  <div class='form-group'>
    <label for="inv" class='label'>Invite url</label>
    <input id="inv" autocomplete="off" name='inv' type="text" class="form-control" value='<%= db.get(`ldb.${data}.invite`) %>' required>
  </div>
  
  <div class='form-group'>
    <label for="about" class='label'>Small description</label>
    <input id="about" autocomplete="off" name='about' type="text" class="form-control" value='<%= db.get(`ldb.${data}.sdecs`) %>' required>
  </div>
  
   <div class="form-group">
    <label for="decs" class='label'>Description</label>
    <small id="decs" class="form-text text-muted">Only Support Markdown</small>
     <textarea class="decs form-control" id="decs" name='decs' rows="4" required><%= db.get(`ldb.${data}.description`) %></textarea>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    <br>

  
  <% } else { %>

  <div class='center'>
  <h4 class='white-text center-align'>You not own this bot</h4>
  <a class='center-align waves-effect wave-light btn btn-primary' href='/'>Back home</a>
  </div>
    
    <% } %>
  
    <!--    Footer    -->
  <center><p class='a white-text'>&copy; 2020 copyright by List DiscordBot</center>
<!--    Akhir Dari Footer    -->
  
  </body>
</html>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  
<style>
 .asw{
    margin:4px !important;
  }
  .test{
    width:200px !important;
    border-radius:10% !important;
    padding:10px !important;
  }
  
.a{
    color:white;
    font-family: 'Chilanka', cursive !important;
  }
  
  .label{
    color:white;
  }
</style>

  <script>
  const tx = document.getElementsByTagName('textarea');
for (let i = 0; i < tx.length; i++) {
  tx[i].setAttribute('style', 'height:' + (tx[i].scrollHeight) + 'px;overflow-y:hidden;');
  tx[i].addEventListener("input", OnInput, false);
}

function OnInput() {
  this.style.height = 'auto';
  this.style.height = (this.scrollHeight) + 'px';
}
    
    function discord(){
       window.location.href = '/discord';
    }
  </script>