<!---->

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Vote for <%= client.users.cache.get(req.params.id).username %></title>
    <link rel='icon' href="<%= client.user.displayAvatarURL() %>">
  </head>
  <body style='background-color:#23272A'>
    <br>
    <div class='container'>
      <div class="card">
        <img src="<%= client.users.cache.get(req.params.id).displayAvatarURL() %>" class="card-img-top" alt="<%= client.users.cache.get(req.params.id).username %>">
        <div class="card-body">
          <h3 class="card-title"><%= client.users.cache.get(req.params.id).username %></h3>
          <p class="card-text">You can vote every 12 hours.</p>
          
          <form action='/vote/<%= req.params.id %>' method='post'>
            <button type='submit' class="btn btn-lg btn-primary">You already voted for this bot. Try again in 12 hours.</button>
         </form>
          
        </div>
      </div>
      <div class='container'>
        <a href='/bot/<%= req.params.id %>' class='btn btn-light btn-block'>Back to <%= client.users.cache.get(req.params.id).username %></a>
      </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>

<style>
  .container img {
    width:200px;
    margin:0 auto;
    margin-top:20px;
    border-bottom-left-radius:45px;
    border-top-right-radius:45px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom-right-radius:10px;
    border-top-left-radius:10px;
    height:200px;
  }
  
  .container .container a {
    margin-top:30px !important;
    font-weight:bold;
    padding:15px;
    width:50%;
    margin:0 auto;
  }
  
  .container .card{
    width:auto;
    background-color:transparent;
    border:1px solid white;
    color:white;
    text-align:center;
  }
  .card butotn {
    width:auto;
  }
</style>