<!DOCTYPE html>
<head>
  <!-- Font Awesome -->
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">-->
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
  
  <meta name="viewport" content="width=device-width, initial-scale-1">
  <link rel='icon' href="<%= client.user.displayAvatarURL() %>">
   <title>Home | list-discordbot </title>
  
  <!--  Property  -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#FFFFFF">
  <meta property="og:title" content="list-discordbot">
  <meta property="og:description" content="A website where you can add your bot to this list bot discord">
  <meta property="og:image" content="<%= client.user.displayAvatarURL() %>">
</head>

<body style="background:#23272A">
  
  <nav class="navbarr navbar fixed-top navbar-dark" style="background:#23272A">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">
    <img src="https://cdn.glitch.com/fafda016-78f3-4788-ba74-9281fad6bc3f%2Fimages__2_-removebg-preview%20(1).png?v=1599579616044" with="30" height="30">
  </a>

  <!-- Collapse button -->
  <button class="navbar-toggler button3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent22"
    aria-controls="navbarSupportedContent22" aria-expanded="false" aria-label="Toggle navigation">
    <div class="animasi"><span></span><span></span><span></span></div>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent22">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/discord"><i class="fab fa-discord"></i> Discord</a>
      </li>
      <li class="nav-item">
        
        <% if(!req.user) { %>
        <a class="nav-link" href="/login"><i class="fa fa-sign-in"></i> Login</a>
        <% }else{ %>
        
         <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">My account</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/me"><i class="fa fa-user-circle" aria-hidden="true"></i> <%= req.user.username %>#<%= req.user.discriminator %></a>
          <a class="dropdown-item" href="/add"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add bot</a>
          <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
        </div>
      </li>

    </ul>
        
        <% } %>
        
      </li>
    </ul>
  </div>
  </nav>


<!--div class="jumbotron jumbotron-fluid" style="background:#7289DA";>
  <div class="container">
    <b><h2 class="display-5" style="text-align:center">List DiscordBot</h2><b>
    <br>
<div class="input-group mb-3">
  <h2 class="h2 my-4" style="text-align:center">List DiscordBot</h2>
   <div class="input-group-append">
      <span class="input-group-text" onclick="url()"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
</svg></span>
    </div>
  <--<label for="inputMDEx">Search Bot</label>
  <button class="btn btn-warning rounded" type="button" onclick="url()">Search</button>
</div>
      </div>
      

</div-->


<div class='banner'>
  <div class='page1'>
    <div class='container'>
      <h1 class="my-4 h1" style="transform:translate(0, 110%);text-align:center;">List DiscordBot</h1>
      <div class='input-group mb-3' style='margin-top:95px;max-width:80%;'>
        <input type='search' class='form-control' placeholder='Search bot' style='font-weight:bold' required>
      </div>
    </div>
  </div>
  <svg class='wave-effect' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#7389DA" fill-opacity="1" d="M0,192L80,165.3C160,139,320,85,480,101.3C640,117,800,203,960,229.3C1120,256,1280,224,1360,208L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
</div>



    <div class="containers">
      <% if(db.get('ldb')) { %>
      <h1 class="judul" id="u"><strong><i class="far fa-star"></i> Promoted</strong></h1>
  
    <%
     let a = db.get("ldb")
     let idnya = client.guilds.cache.get("798420832341721088").members.cache.filter(m => m._roles.includes("798422333815259137")).map(x => x.id)
     
     let approvedss = a.filter(x => !idnya.includes(x.id));
     let approveds = approvedss.filter(x => x.status === true);
     let approved = approveds.sort(function(a, b){return 0.5 - Math.random()});
     
     let promotes = a.filter(x => idnya.includes(x.id));
     let promote = promotes.sort(function(a, b){return 0.5 - Math.random()});
     
     
     let v = ["68944999431458008"]
    %>
    
      <div class="row row-cols-1 row-cols-md-3">
        <% promote.map(x => { %>
        
        <div class="col md-4">
          <br>
          <center>
            <div class="boxnya card rounded">
              <div class="card-image" style="position:relative">
                <img src="<%= client.users.cache.get(x.id).displayAvatarURL() %>" class="test circle responsive-image">
                <!--span class="badge badge-primary"><h5><i class="fas fa-angle-up"></i>1000 VOTE</h5></span>-->
              </div>
              
              <div class="card-body">
                <h3 class="asew card-title"><a>client.users.cache.get(x.id).username</a></h3>
                
                <div class="card-content white-text">
                  <h6 class="asew"><%= x.sdecs %></h6>
                  
                </div>
                
                <hr>
                
                <div class="asww">
                  
                  <span class="badge badge-pill badge-primary"><i class="fas fa-check-circle"></i> Approved</span>
                  <a href="/vote/<%= x.id %>" class="badge badge-pill badge-primary"><i class="fas fa-angle-up"></i> <%= db.get(`vote.${x.id}`) || 0 %> Votes</a>
                  <span class="badge badge-pill badge-primary"><i class="fas fa-star"></i> Promoted</span>
                  
                </div>
                
                <hr>
                
                <div class="card-action">
                  
                  <% if(v.includes(x.id)) { %>
                  <a class="btn btn-primary btn-block" href="https://cbot.me" type="button">View</a>
                  <% }else{ %>
                  
                  <a class="btn btn-primary" href="/bot/<%= x.id %>" type="button">View</a>
                  <a class="btn btn-primary" href="<%= x.invite %>" type="button">Invite</a>
                  
                  <% } %>
                  
                </div>
            </div>
              
              <div class="card-footer text-muted text-center">
                by <a href="/user/<%= x.ownerId %>"><%=  client.users.cache.get(x.ownerId).tag %></a>
              </div>
              
            </div>
          </center>
          
        </div>
        <% }) %>
      </div>
      
      </br></br>
  
  <h1 class="judul"><strong>Top Vote</strong></h1>
  
      <% 
      let list = Object.entries(db.get("vote")).sort((a, b) => b[1] - a[1]).slice(0, 5); let arr = [];
      for (var i in list) {
      arr.push(list[i]);
      };
      %>
      
  <div class="row row-cols-1 row-cols-md-3 text-white">
    
    <% arr.map((x, i) => { %>
    
    
    <div class="col mb-4">
      <br>
      <center>
        <div class="boxnya card rounded bg-primary">
          <div class="card-image">
            <img src="<%=client.users.cache.get(x[0]).displayAvatarURL()%>" class="test circle responsive-image" width="100">
          </div>
          
          <div class="card-body">
          <h3 class="asew card-title"><a><%= client.users.cache.get(x[0]).username %></a></h3>
          
          <br>
            <hr>
            
            <div class="asww">
              <span class="badge badge-pill badge-dark"><i class="fas fa-angle-up"></i> <%= x[1] %> Votes</span>
            </div>
            
            <hr>
            
            <div class="card-action">
              <a class="btn btn-block btn-dark btn-rounded" href="/bot/<%= x[0] %>">View</a>
            </div>
          </div>
        </div>
          
      </center>
    </div>
    
          <% }) %>
        </div>
  
  <br><br>
  
  
      <h1 class="judul"><strong><i class="fas fa-chart-line"></i> Random</strong></h1>
  
<div class="row row-cols-1 row-cols-md-3">
    <% approved.slice(0, 70).map(x => { %>
  
    <div class="col mb-4" style="height:80% !important;">
      <br>
      <center>
      <div class="boxnya card rounded">
        <div class="card-image">
          <img src="<%= client.users.cache.get(x.id).displayAvatarURL() %>" class="test circle responsive-image" width="100">
        </div>
        
        <div class="card-body">
          <h3 class="asew card-title"><a><%= client.users.cache.get(x.id).username %></a></h3>
            
            <div class="card-content white-text">
              <h6 class="asew"><%= x.sdecs %></h6>
              
            </div>
          
          <hr>
          <div class="asww">
            <span class="badge badge-pill badge-primary"><i class="fas fa-check-circle"></i> Approved</span>
            <span class="badge badge-pill badge-primary"><i class="fas fa-angle-up"></i> <%= db.get(`vote.${x.id}`) || 0 %> Votes</span>
          </div>
          <hr>
            
            <div class="card-action">
              <a class="btn btn-primary btn-rounded" href="/bot/<%=x.id%>" role="button">View</a>
              <a class="btn btn-primary btn-rounded" href="<%=x.invite%>" role="button">Invite</a>
            </div>
        </div>
        
        <div class="card-footer text-muted text-center">
          by <a href="/user/<%=x.ownerId%>"><%= client.users.cache.get(x.ownerId).tag %></a>
        </div>
        
      </div>
        </center>
  </div>
   <% }) %>
</div>
</div>
</div>

<% }else{ %>
<h1>
  Hello
</h1>
<% } %>

</div>

<!--id="keatas" class="btn btn-primary btn-rounded keatas" role="button" style="display:none;" href="#"><i class="fas fa-arrow-up"></i></a>

<!-- Footer -
<footer class="page-footer font-small blue">

  <!-- Copyright 
  <div class="footer-copyright text-center py-3">© 2020 Copyright: List DiscordBot</a>
  </div>
  <!-- Copyright --

</footer>
<!-- Footer -->
    
    
</body>
</html>


<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

  <script>
    
    function url() {
      let a = document.getElementById("search").value;
      if(a == " "){
        alert("Lol?");
      }
      
      window.location.href="/search/"+a
    }
    
    $(document).ready(function(){
	$(window).scroll(function () {
			if ($(this).scrollTop() > 50) {
				$('#keatas').fadeIn();
			} else {
				$('#keatas').fadeOut();
			}
		});
		// scroll body to 0px on click
		$('#keatas').click(function () {
			$('body,html').animate({
				scrollTop: 0
			}, 2000);
			return false;
		});
});
  </script>
  
<style>
  
  .page1 {
    background:#7289DA;
    height:250px;
  }
  
  .wave-effect {
    transform:rotate(180deg);
    margin-top:-10px;
  }
  
  .category {
    display:flex;
    flex-wrap:wrap;
    max-width:90%;
    margin:10px;
    color:rgba(0,0,0,0.7);
  }
  
  .category .badges {
    background-color:#47d7ff;
    border:1px solid #47d7ff;
    padding:3px;
    color:rgba(0,0,0,0.7);
    margin:2px;
    border-radius:20px;
  }
  
  body {
    overflow-x:hidden;
    height:100vh;
  }
  
  #keatas{
    border-radius:200px !important;
    box-shadow:1px 3px 6px black;
  }
  
  .asww{
    text-align:left !important;
  }
  
  .asew{
    color:white;
  }
  
  .judul{
    color:white;
  }
  
  .containers {
    margin:0 auto;
    padding:15px;
  }
  
  .boxnya{
    width:auto !important;
    margin:10px;
    background:#2C2F33 ;
    transition:all 1s ease;
  }
  
  .boxnya:hover{
    transition:0.5s;
    transform:translateY(-2%);
    box-shadow:5px 4px 7px black;
  }
  
  .test{
    /*width:100px !important;
    border-radius:150px !important;
    margin:10px;
    box-shadow:1px 3px 10px black;*/
    width:120px;
    position:relative;
    left:-110px;
    border-radius:30px;
    top:-30px;
  }
  
  .judul{
    text-align:center;
  }
  
  .animasi{
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
  }
  
  .animasi span {
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
  }
  
  .animasi span{
    background: #f3e5f5;
  }
  
  .animasi span:nth-child(1) {
top: 0px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animasi span:nth-child(2) {
top: 10px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animasi span:nth-child(3) {
top: 20px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animasi.open span:nth-child(1) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
top: 0px;
left: 8px;
}

.animasi.open span:nth-child(2) {
width: 0%;
opacity: 0;
}

.animasi.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
top: 21px;
left: 8px;
}
  
  .keatas{
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

</style>

<script>
  $(document).ready(function () {
  $('.button3').on('click', function () {

    $('.animasi').toggleClass('open');
  });
});
</script><